body {
    font-family: "RobotoMedium", sans-serif;
    font-size: 16px;
    color: #f9f9f9 !important;
    text-shadow: #333333 0 0 5px;

}

p {
    font-size: 25px;
    font-family: "RobotoLight", sans-serif;
}

h2 {
    font-size: 27px;
    font-family: "RobotoLight", sans-serif;
}

header {
    height: 630px;
    width: 100%;
    background: #442868 url("../images/Ibbleobble-Educational-Apps.png") no-repeat scroll center center / cover;
    /*-webkit-background-size:100% 100%;*/
    /*background-size: 130% 800px;*/
}

header h1 {
    margin-top: 250px;
}
