
.program {
    padding-top: 70px;
    height: 500px;
    background-color: #E8463E;
}

.infoPic {
    height: 500px;
    background-color: #2ABCD8;
}

.theme h3 {
    margin-top: 0;
}

.infoPic img{
    height: 500px;
}

.infoPic img, p img {
    max-width: 100%;
    padding: 15px;
}

.theme img {
    height: 210px;
    width: 210px;
}

.speech, .one {
    background-color: #39C5E3;
}

a{
    color: #ffffff;
}

.math {
    background-color: #FFD400;
}

.logik, .two {
    background-color: #61B64F;
}

.reading, .three {
    background-color: #E8463E;
}

.speech, .math, .logik, .reading {
    height: 270px;
}

.one, .two, .three {
    height: 325px;
}

.text {
    background-color: #442868;
    padding: 15px;
    border-top: 35px solid #371E54;
    border-bottom: 35px solid #371E54;
}

.line {
    height: 35px;
}

.teachers p, .teachers h2, .theme p {
    font-family: "RobotoMedium", sans-serif;
    margin: 0;
}

.teachers img {
    height: 200px;
    width: 200px;
}

.teacherInfo{
    /*height: 100%;*/
    font-size: 20px;
    margin-top: 4px;
}