/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    .program{
        height: auto;
        padding: 40px 15px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .logo{padding-left: 50px}
    .logo img{
        height: 200px;
        width: 500px;
        /*margin-top: 75px;*/
    }

    h1{font-size: 25px}
    h2{font-size: 20px}
    p{font-size: 18px}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .logo{
        padding-left: 10px;
        margin-top: 55px;
    }
    .logo img{
        height: 200px;
    }
    header h1 {
        font-size: 20px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .logo{
        padding-left: 20px;
    }
    .logo img{
        height: 150px;
    }


}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}