@()

@main("Подготовка к школе. Ижевск Эльгрин") {

    <header>
        <div class="container">
            <div class="col-md-12">
                <h1>Подготовительная школа - студия для детей в Эльгрине. <br>под руководством Агеевой Людмилы
                    Николаевны</h1>
                <h2>Подготовка к школьному обучению и развитие творческой личности</h2>
            </div>
        </div>
    </header>

    <div class="info">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 program"><h2>
                    Комплексные развивающие занятия для детей от 3 до 7 лет
                </h2>
                    <p>В течение занятия проводятся игры, способствующие развитию общей моторики, что позволяет удерживать
                        внимание ребенка, не утомляя его.
                        Наши занятия проводятся два раза в неделю. Каждое занятие длится 40 минут и состоит из нескольких
                        блоков:</p></div>
                <div class="col-md-6  hidden-sm hidden-xs infoPic">
                    <img src="@routes.Assets.versioned("images/ColourMeInLolaIbbleobble.png")" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="theme">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-sm-6 speech"><p><img src="@routes.Assets.versioned("images/1.png")" alt=""></p>
                    <h3>Развитие речи</h3></div>
                <div class="col-md-3 col-sm-6 math"><p><img src="@routes.Assets.versioned("images/2.png")" alt=""></p>
                    <h3>Элементарная математика</h3></div>
                <div class="col-md-3 col-sm-6 logik"><p><img src="@routes.Assets.versioned("images/3.png")" alt=""></p>
                    <h3>Логика</h3></div>
                <div class="col-md-3 col-sm-6 reading"><p><img src="@routes.Assets.versioned("images/4.png")" alt=""></p>
                    <h3>Азбука и чтение</h3></div>
            </div>
        </div>
    </div>
    <div class="description">
        <div class="col-md-12 text"><h2>
            Подготовка к школе в Эльгрине
        </h2>
            <p>Ребёнок получает необходимые к моменту поступления в оброзовательное учреждение навыки чтения, письма и
                счета. Обучение детей ведется как в группах, так и индивидуально.</p>
        </div>
    </div>
    <div class="teachers">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 one">
                    <p><img src="@routes.Assets.versioned("images/21.png")" alt=""></p>
                    <p>Людмила Николаевна<br>
                        <a href="tel:+79128733707"> 89128733707</a>
                    </p>
                    <div class="teacherInfo">Занятия с детьми 4-7 лет</div>
                </div>
                <div class="col-md-4 two">
                    <p><img src="@routes.Assets.versioned("images/27.png")" alt=""></p>
                    <p>
                        Ольга Васильевна <br>
                        <a href="tel:+79199059270"> 89199059270</a>
                    </p>
                    <div class="teacherInfo">Занятия с детьми 4-7 лет</div>
                </div>
                <div class="col-md-4 three">
                    <p><img src="@routes.Assets.versioned("images/23.png")" alt=""></p>
                    <p>
                        Наталия Борисовна <br>
                        <a href="tel:+79124538903"> 89124538903</a>
                    </p>
                    <div class="teacherInfo">Занятия с детьми 4-7 лет</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 three">
                    <p><img src="@routes.Assets.versioned("images/24.png")" alt=""></p>
                    <p>
                        Оксана Борисовна <br>
                        <a href="tel:+79199125768"> 89199125768</a>
                    </p>
                    <div class="teacherInfo">Занятия с детьми 3-4 лет</div>
                </div>
                <div class="col-md-4 one">
                    <p><img src="@routes.Assets.versioned("images/25.png")" alt=""></p>
                    <p>
                        Евгения Валериевна <br>
                        <a href="tel:+79128592337"> 89128592337</a>
                    </p>
                    <div class="teacherInfo">Английский язык</div>
                </div>
                <div class="col-md-4 two">
                    <p><img src="@routes.Assets.versioned("images/26.png")" alt=""></p>
                    <p>
                        Анжелика Владимировна <br>
                        <a href="tel:+79501702381"> 89501702381</a>
                    </p>
                    <div class="teacherInfo">Изостудия</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 two hidden-sm hidden-xs">

                </div>
                <div class="col-md-4 three">
                    <p><img src="@routes.Assets.versioned("images/21.png")" alt=""></p>
                    <p>
                        Елена Алексеевна <br>
                        <a href="tel:+79128536974"> 89128536974</a>
                    </p>
                    <div class="teacherInfo">Психолог</div>
                </div>
                <div class="col-md-4 one hidden-sm hidden-xs">

                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="col-md-12 ">

        </div>
    </footer>


}
